.cart-page {
  padding: 20px;
}

.cart-items {
  list-style-type: none;
  padding: 0;
}

.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.cart-item img {
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

.cart-item-info {
  flex-grow: 1;
}

.cart-item-info p {
  margin: 0;
}

.clear-cart {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #f44336;
  color: white;
  border: none;
  cursor: pointer;
}

.quantity-controls {
  display: flex;
  align-items: center;
}

.quantity-controls button {
  width: 20px;
  height: 20px;
  font-size: 16px;
  padding: 5px;
  margin: 0 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #f0f0f0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quantity-controls button:active {
  background-color: #e0e0e0;
}

.remove-button {
  width: 24px;
  height: 24px;
  font-size: 16px;
  padding: 0;
  margin-left: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #f0f0f0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.remove-button:active {
  background-color: #e0e0e0;
}
.order-button {
  margin-top: 20px;
  background-color: #28a745;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  margin-left: auto;
  margin-right: 50px;
}

.order-button:hover {
  background-color: #218838;
}
